@font-face {
  font-family: "Heiro Of Light";
  font-weight: 400;
  src: url("/public/assets/fonts/HeirofLightRegular.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Heiro Of Light";
  font-weight: 700;
  src: url("/public/assets/fonts/HeirofLightBold.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("/public/assets/fonts/NotoSansKR-Regular.woff2") format("woff2");
  font-display: fallback;
}

* {
  font-family: "Heiro Of Light", "Noto Sans KR";
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
